* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #5f3700;
  background-color: #ffffff; }

h1 {
  padding: 3rem 0rem 1.5rem 2rem;
  text-align: center;
  font-size: 3.5rem; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

p {
  margin: 0; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #fef0f0;
  grid-area: header; }
  .header__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2.1rem; }
  .header__nav--a {
    font-size: 1rem;
    font-weight: 550;
    text-transform: uppercase;
    color: #8c4a4a; }
    .header__nav--a:hover {
      color: #562424; }
  .header .navbar__logo {
    padding-right: 8rem; }
  .header .navbar__color {
    background-color: none; }
  .header .navbar-nav {
    gap: 1rem; }
  .header .nav-item:hover {
    transition: 0.2s;
    border-bottom: #db8585 solid 4px;
    border-width: auto; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.9rem 0;
  background-color: #db8585;
  grid-area: footer; }
  .footer__items {
    display: flex; }
  .footer li {
    display: inline-block;
    padding: 0.4rem; }
  .footer a:hover {
    color: #ffd4d4; }
  .footer__navbar {
    color: #ffe9e9;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700; }
  .footer__volver {
    color: #ffe9e9;
    padding: 1rem;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 580; }
  .footer__derechos {
    color: #ffe9e9;
    font-size: 0.8rem; }
  .footer .mt-4 {
    margin: 0; }
  .footer .fa-facebook-f {
    color: #ffe9e9;
    font-size: 1.5rem; }
    .footer .fa-facebook-f:hover {
      color: #ffd4d4; }
  .footer .fa-instagram-square {
    color: #ffe9e9;
    font-size: 1.5rem; }
    .footer .fa-instagram-square:hover {
      color: #ffd4d4; }

.boton {
  padding-top: 3rem;
  text-align: center; }

.btn {
  background-color: #db8585;
  color: #ffffff; }

.btn:hover,
.btn:focus,
.btn:active,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus {
  background-color: #ffd4d4;
  color: #db8585;
  box-shadow: none; }

.home__main {
  padding: 0; }

.home__titulo {
  color: #5f3700;
  font-size: 5.5vw;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.55);
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0; }

.home__fondo {
  background-size: cover;
  position: relative;
  display: inline-block;
  text-align: center;
  min-height: 50vh; }
  .home__fondo--img {
    opacity: 60%; }

.home__boton {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%); }

.amigurumis__main {
  padding-bottom: 3rem; }

.amigurumis__contenedor {
  display: flex;
  flex-direction: column; }

.amigurumis__texto {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  text-align: justify; }

.amigurumis__contenedor strong {
  font-weight: 100; }

.amigurumis__contenedor span {
  font-weight: 600; }

.amigurumis__boton {
  background-color: #db8585;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  margin-top: 3rem;
  margin-bottom: 0;
  border-color: none; }
  .amigurumis__boton--pregunta {
    font-size: 2rem; }
  .amigurumis__boton--texto {
    background-color: #ffdada;
    border: none;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 4rem; }

.amigurumis__video {
  display: flex;
  justify-content: center; }
  .amigurumis__video--iframe {
    width: 45%;
    height: 315px; }

.btn {
  --bs-btn-border-width: 0px; }

.galeria__titulo {
  display: flex;
  justify-content: center;
  padding-top: 3rem; }

.galeria__intro {
  display: flex;
  justify-content: center; }

.galeria__contenedor {
  display: flex;
  flex-direction: column; }

.galeria__texto {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  text-align: justify; }

.galeria__grilla {
  padding: 4rem 5rem 1rem 5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem; }
  .galeria__grilla--img:nth-of-type(1) {
    grid-column: 1 / 5; }
  .galeria__grilla--img:nth-of-type(2) {
    grid-column: 5 / 9; }
  .galeria__grilla--img:nth-of-type(3) {
    grid-column: 9 / 13; }
  .galeria__grilla--img:nth-of-type(4) {
    grid-column: 1 / 5; }
  .galeria__grilla--img:nth-of-type(5) {
    grid-column: 5 / 13;
    grid-row: 2 / 4; }
  .galeria__grilla--img:nth-of-type(6) {
    grid-column: 1 / 5; }
  .galeria__grilla--img:nth-of-type(7) {
    grid-column: 9 / 13; }
  .galeria__grilla--img:hover {
    padding: 0.1rem; }

.galeria__sets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0.5rem 3rem 2.5rem 3rem; }
  .galeria__sets--titulo {
    padding: 3rem 0rem 1.5rem 2rem;
    text-align: center;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 2rem; }
  .galeria__sets--card {
    display: flex;
    flex-direction: column;
    flex: 1 1 clamp(300px, 30%, 400px); }
  .galeria__sets--imagen {
    padding: 1rem; }
    .galeria__sets--imagen:hover {
      padding: 0.9rem; }
  .galeria__sets--info {
    display: flex;
    flex-direction: column; }
  .galeria__sets--subtitulo {
    text-align: center;
    font-size: 1.8rem; }

#maingallery {
  padding: 0; }

.nosotros__intro {
  display: flex;
  justify-content: center;
  padding: 3rem 2rem; }
  .nosotros__intro--img {
    width: 33vw;
    min-width: 330px;
    padding: 0rem 4rem; }
  .nosotros__intro--box1, .nosotros__intro--box2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center; }
  .nosotros__intro--box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .nosotros__intro--icons {
    width: 6vw; }

.nosotros__texto {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  text-align: justify; }

.nosotros__historia--box1 {
  display: flex;
  padding: 2rem 10rem; }

.nosotros__historia--box2 {
  display: flex;
  padding: 2rem 10rem; }

.nosotros__historia--box3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 12rem; }

.nosotros__historia--img {
  width: 40%; }

.nosotros__historia--img3 {
  width: 90%;
  padding: 3rem 0rem; }

.nosotros__historia--img4 {
  width: 45%;
  padding-top: 6rem; }

.nosotros__historia--contenedor1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 4rem;
  align-items: center;
  justify-content: center; }

.nosotros__historia--contenedor2 {
  display: flex;
  width: 60%;
  padding-left: 4rem;
  align-items: center; }

.nosotros__historia--texto1 {
  font-size: 2rem;
  text-align: right;
  padding-bottom: 1rem; }

.nosotros__historia--texto2 {
  font-size: 2rem;
  text-align: left; }

.nosotros__historia--texto3 {
  font-size: 2.2rem;
  text-align: center;
  padding-top: 3rem; }

.nosotros__imagen {
  text-align: center;
  padding: 2rem 1.5rem 3rem 1.5rem; }
  .nosotros__imagen--img {
    width: 65vw; }

.contacto__contenedor {
  display: flex;
  flex-direction: column; }

.contacto__texto {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  text-align: justify; }

.contacto__contenedorform {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2.5rem 3rem 3rem 3rem; }

.contacto__consigna {
  font-size: 1.5rem;
  padding-bottom: 0.5rem; }

.contacto__checkbox, .contacto__radio, .contacto__consultas, .contacto__boton {
  padding-top: 2rem;
  padding-left: 0.25rem; }

.contacto__imagen {
  padding-right: 0.8rem; }

.form-control:hover,
.form-control:focus,
.form-control:active {
  box-shadow: none;
  border-color: #db8585; }

.form-select:hover,
.form-select:focus,
.form-select:active {
  box-shadow: none;
  border-color: #db8585; }

@media screen and (max-width: 992px) {
  .header__menu {
    gap: 1.5rem; }
  .galeria__grilla {
    padding: 2rem 4rem; }
  .galeria__sets--info {
    justify-content: center;
    align-items: center; }
  .galeria__sets--texto {
    text-align: center; }
  .galeria__sets--subtitulo {
    font-size: 2.5rem; }
  .nosotros__historia--box1 {
    padding: 2rem 6rem; }
  .nosotros__historia--box2 {
    padding: 2rem 6rem; }
  .nosotros__historia--box3 {
    padding: 2rem 8rem; }
  .nosotros__historia--texto1 {
    font-size: 1.6rem; }
  .nosotros__historia--texto2 {
    font-size: 1.6rem; }
  .nosotros__historia--texto3 {
    font-size: 1.8rem;
    padding-top: 1.5rem; } }

@media screen and (max-width: 879px) {
  .header__menu {
    gap: 1.1rem; }
  .header__nav a {
    padding: 0rem; }
  .nosotros__intro--img {
    width: 47vw;
    min-width: 350px; }
  .nosotros__intro--box1, .nosotros__intro--box2 {
    flex-direction: column; }
  .nosotros__intro--icons {
    width: 8vw; }
  .nosotros__historia--box1 {
    padding: 1rem 4rem; }
  .nosotros__historia--box2 {
    padding: 1rem 4rem; }
  .nosotros__historia--box3 {
    padding: 1rem 6rem; }
  .nosotros__historia--contenedor1 {
    padding-right: 2rem; }
  .nosotros__historia--contenedor2 {
    padding-left: 2rem; } }

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3rem; }
  .galeria__grilla--img:nth-of-type(1) {
    grid-column: 1 / 7; }
  .galeria__grilla--img:nth-of-type(2) {
    grid-column: 7 / 13; }
  .galeria__grilla--img:nth-of-type(3) {
    grid-column: 1 / 7; }
  .galeria__grilla--img:nth-of-type(4) {
    grid-column: 7 / 13; }
  .galeria__grilla--img:nth-of-type(5) {
    grid-column: 1 / 13; }
  .galeria__grilla--img:nth-of-type(6) {
    grid-column: 1 / 13; }
  .galeria__sets--subtitulo {
    font-size: 1.8rem; } }

@media screen and (max-width: 676px) {
  .header__menu {
    gap: 0.5rem; }
  .amigurumis__video--iframe {
    padding: 0rem 1.5rem; }
  .nosotros__intro {
    flex-direction: column; }
  .nosotros__intro--img {
    order: 1;
    display: flex;
    width: 70vw;
    padding-bottom: 2rem;
    text-align: center; }
  .nosotros__intro--box1 {
    flex-direction: column;
    order: 2;
    padding: 2rem; }
  .nosotros__intro--box2 {
    flex-direction: column;
    order: 2; }
  .nosotros__intro--icons {
    width: 19vw; }
  .nosotros__historia--box1 {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    padding-bottom: 2rem; }
  .nosotros__historia--box2 {
    flex-direction: column;
    align-items: center;
    padding: 0; }
  .nosotros__historia--contenedor1 {
    padding: 0rem; }
  .nosotros__historia--contenedor2 {
    padding: 0rem; }
  .nosotros__historia--img {
    width: 80%;
    padding: 2rem 0rem; }
  .nosotros__historia--img3 {
    padding: 1.5rem 0rem; }
  .nosotros__historia--texto1 {
    text-align: center; }
  .nosotros__historia--texto2 {
    text-align: center;
    padding: 0rem 0rem 3rem 0rem; }
  .footer__navbar {
    font-size: 1rem; }
  .footer__volver {
    font-size: 0.8rem; } }

@media screen and (max-width: 576px) {
  .contacto__contenedor {
    flex-direction: column; }
  .contacto__imagen {
    padding: 1rem; }
  .footer__items {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0; } }
