/* @import "/scss/utilities/variables"; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #432700;
  background-color: #ffdfdf;
  display: grid;
  grid-template-areas: " header " " main " " footer "; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

/* TITULOS */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: #ffdfdf;
  background: radial-gradient(circle, #ffdfdf 75%, #ffbdbd 100%);
  grid-area: header; }
  .header__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2.1rem; }
  .header__nav--a {
    font-size: 1rem;
    font-weight: 550;
    text-transform: uppercase;
    color: #8c4a4a; }
    .header__nav--a:hover {
      color: #562424; }
  .header .navbar__logo {
    padding-right: 8rem; }
  .header .navbar__color {
    background-color: none; }
  .header .navbar-nav {
    gap: 1rem; }
  .header .navbar__desplegable {
    background-color: #ffe9e9; }
  .header .nav-item:hover {
    transition: 0.2s;
    border-bottom: #db8585 solid 4px;
    border-width: auto; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.9rem 0;
  background-color: #db8585;
  grid-area: footer; }
  .footer__items {
    display: flex; }
  .footer li {
    display: inline-block;
    padding: 0.4rem; }
  .footer a:hover {
    color: #ffd4d4; }
  .footer__navbar {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffe9e9;
    font-size: 1.2rem;
    font-weight: 700; }
  .footer__volver {
    padding: 1rem;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    color: #ffe9e9;
    font-size: 1.2rem;
    font-weight: 580; }
  .footer__derechos {
    font-size: 0.8rem;
    color: #ffe9e9; }
  .footer .mt-4 {
    margin: 0; }
  .footer .fa-facebook-f {
    font-size: 1.5rem;
    color: #ffe9e9; }
    .footer .fa-facebook-f:hover {
      color: #ffd4d4; }
  .footer .fa-instagram-square {
    font-size: 1.5rem;
    color: #ffe9e9; }
    .footer .fa-instagram-square:hover {
      color: #ffd4d4; }

.home__titulo {
  padding: 2rem 0rem 1.5rem 2rem;
  text-align: center; }

.home__triptico {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.7rem;
  padding: 0.5rem 3rem; }
  .home__triptico--subtitulo {
    text-align: center;
    padding-bottom: 1.5rem; }
  .home__triptico--card {
    display: flex;
    flex-direction: column;
    flex: 1 1 clamp(300px, 30%, 400px); }
  .home__triptico--imagen {
    padding: 1rem; }
    .home__triptico--imagen:hover {
      padding: 0.5rem; }
  .home__triptico--info {
    display: flex;
    flex-direction: column;
    padding: 0.8rem; }

.amigurumis__main {
  padding-bottom: 3rem;
  grid-area: main; }

.amigurumis__titulo {
  padding: 2rem 0rem 1.5rem 2rem;
  text-align: center; }

.amigurumis__contenedor {
  display: flex;
  flex-direction: column; }

.amigurumis__texto {
  font-size: 1.2rem;
  padding: 0.5rem 2rem; }

.amigurumis__boton {
  background-color: #db8585;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  margin-top: 3rem;
  margin-bottom: 0;
  border-color: none; }
  .amigurumis__boton--pregunta {
    font-size: 2rem; }
  .amigurumis__boton--texto {
    background-color: #ffdada;
    border: none;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 4rem; }

.amigurumis__video {
  display: flex;
  justify-content: center; }
  .amigurumis__video--iframe {
    width: 45%;
    height: 315px; }

.btn {
  --bs-btn-border-width: 0px; }

.galeria__titulo {
  display: flex;
  justify-content: center;
  padding: 2rem 0rem 1.5rem 2rem;
  text-align: center;
  padding-top: 3rem; }

.galeria__intro {
  display: flex;
  justify-content: center; }

.galeria__grilla {
  padding: 1rem 5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem; }
  .galeria__grilla--img:nth-of-type(1) {
    grid-column: 1 / 5; }
  .galeria__grilla--img:nth-of-type(2) {
    grid-column: 5 / 9; }
  .galeria__grilla--img:nth-of-type(3) {
    grid-column: 9 / 13; }
  .galeria__grilla--img:nth-of-type(4) {
    grid-column: 1 / 5; }
  .galeria__grilla--img:nth-of-type(5) {
    grid-column: 5 / 13;
    grid-row: 2 / 4; }
  .galeria__grilla--img:nth-of-type(6) {
    grid-column: 1 / 5; }
  .galeria__grilla--img:nth-of-type(7) {
    grid-column: 9 / 13; }
  .galeria__grilla--img:hover {
    padding: 0.1rem; }

.galeria__sets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 0.5rem 3rem 2.5rem 3rem; }
  .galeria__sets--titulo {
    text-align: center;
    margin-top: 2rem; }
  .galeria__sets--card {
    display: flex;
    flex-direction: column;
    flex: 1 1 clamp(300px, 30%, 400px); }
  .galeria__sets--imagen {
    padding: 1rem; }
    .galeria__sets--imagen:hover {
      padding: 0.9rem; }
  .galeria__sets--info {
    display: flex;
    flex-direction: column;
    padding: 2rem; }
  .galeria__sets--subtitulo {
    text-align: center; }

#maingallery {
  padding: 0; }

.nosotros__titulo {
  padding: 2rem 0rem 1.5rem 2rem;
  text-align: center; }

.nosotros__texto {
  font-size: 1.2rem;
  padding: 0.5rem 2rem; }

.nosotros__imagen {
  text-align: center;
  padding: 2rem 1.5rem 3rem 1.5rem; }
  .nosotros__imagen--img {
    width: 60%; }

.contacto__titulo {
  padding: 2rem 0rem 1.5rem 2rem;
  text-align: center; }

.contacto__contenedor {
  display: flex;
  justify-content: space-around;
  padding: 1rem 3rem 3rem 3rem; }

.contacto__checkbox, .contacto__radio, .contacto__consultas, .contacto__boton {
  padding-top: 0.7rem;
  padding-left: 0.25rem; }

.contacto__imagen {
  padding-right: 0.8rem; }

@media screen and (max-width: 992px) {
  .galeria__grilla {
    padding: 2rem 4rem; }
  .galeria__sets--info {
    justify-content: center;
    align-items: center; }
  .galeria__sets--texto {
    text-align: center; }
  .header__menu {
    gap: 1.5rem; } }

@media screen and (max-width: 879px) {
  .header__menu {
    gap: 1.1rem; }
  .header__nav a {
    padding: 0rem; } }

@media screen and (max-width: 676px) {
  .footer__navbar {
    font-size: 1rem; }
  .footer__volver {
    font-size: 0.8rem; }
  .header__menu {
    gap: 0.5rem; }
  .amigurumis__video--iframe {
    padding: 0rem 1.5rem; } }

@media screen and (max-width: 576px) {
  .galeria__grilla--img:nth-of-type(1) {
    grid-column: 1 / 7; }
  .galeria__grilla--img:nth-of-type(2) {
    grid-column: 7 / 13; }
  .galeria__grilla--img:nth-of-type(3) {
    grid-column: 1 / 7; }
  .galeria__grilla--img:nth-of-type(4) {
    grid-column: 7 / 13; }
  .galeria__grilla--img:nth-of-type(5) {
    grid-column: 1 / 13; }
  .galeria__grilla--img:nth-of-type(6) {
    grid-column: 1 / 13; }
  .contacto__contenedor {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .contacto__imagen {
    padding: 1rem; }
  .footer__items {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0; } }
