* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #432700;
    background-color: #ffdfdf;
    display: grid;
    grid-template-areas:
        " header "
        " main "
        " footer ";
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}


/* TITULOS */