@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #432700;
    /*     background-image: url(./img/corazoneshome.png); */
    background-color: #ffdfdf;
    display: grid;
    grid-template-areas:
        " header "
        " main "
        " footer ";
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
}


/* --------------- HEADER ---------------- */

.header {
    @include flexcenter;
    align-items: center;
    padding: 1rem 0;
    background-color: #ffdfdf;
    background: radial-gradient(circle, #ffdfdf 75%, #ffbdbd 100%);
    grid-area: header;

    &__menu {
        display: flex;
        flex-wrap: wrap;
        gap: 2.1rem;
    }

}


.navbar {
    &__logo {
        padding-right: 8rem;
    }

    &__color {
        background-color: none;
    }

    &-nav {
        gap: 1rem;
    }

    &__desplegable {
        background-color: #ffe9e9;
    }
}


.nav-item:hover {
    transition: 0.2s;
    border-bottom: #db8585 solid 4px;
    border-width: auto;
}

.header__nav--a {
    font-size: 1rem;
    font-weight: 550;
    text-transform: uppercase;
    color: #8c4a4a;

    &:hover {
        color: #562424;
    }
}


/* ------------------ MAIN ------------------ */

/* .container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffe9e9;
    grid-area: main;
    padding-bottom: 3rem;
} */

.home {
    &__titulo {
        text-align: center;
        padding: 1.5rem 0;
    }

    &__triptico {
        @include flexcenter;
        flex-wrap: wrap;
        gap: 1.7rem;
        padding: 0.5rem 3rem;

        &--titulo {
            text-align: center;
            margin-top: 2.5rem;
        }

        &--card {
            display: flex;
            flex-direction: column;
            flex: 1 1 clamp(300px, 30%, 400px)
        }

        &--imagen {
            padding: 1rem;

            &:hover {
                padding: 0.5rem;
            }
        }

        &--info {
            display: flex;
            flex-direction: column;
            padding: 0.8rem;
        }

    }

}


.galeria {
    &__titulo {
        @include flexcenter;
        margin-top: 2.5rem;
        padding: 1rem;
    }

    &__intro {
        @include flexcenter;
    }

    &__boton {
        background-color: #db8585;
        align-items: center;
        text-align: center;
        padding: 2rem 0;
        margin-top: 3rem;
        margin-bottom: 0;
        border-color: none;

        &--pregunta {
            font-size: 2rem;
        }

        &--texto {
            background-color: #ffdada;
            border: none;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 4rem;
        }
    }

    &__grilla {
        padding: 1rem 5rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;


        &--img:nth-of-type(1) {
            grid-column: 1 / 5;
        }

        &--img:nth-of-type(2) {
            grid-column: 5 / 9;
        }

        &--img:nth-of-type(3) {
            grid-column: 9 / 13;
        }

        &--img:nth-of-type(4) {
            grid-column: 1 / 5;
        }

        &--img:nth-of-type(5) {
            grid-column: 5 / 13;
            grid-row: 2 / 4;
        }

        &--img:nth-of-type(6) {
            grid-column: 1 / 5;
        }

        &--img:nth-of-type(7) {
            grid-column: 9 / 13;
        }

        &--img:hover {
            padding: 0.1rem;
        }

    }


    &__sets {
        @include flexcenter;
        flex-wrap: wrap;
        gap: 3rem;
        padding: 0.5rem 3rem;

        &--titulo {
            text-align: center;
            margin-top: 2rem;
        }

        &--card {
            display: flex;
            flex-direction: column;
            flex: 1 1 clamp(300px, 30%, 400px)
        }

        &--imagen {
            padding: 1rem;

            &:hover {
                padding: 0.9rem;
            }
        }

        &--info {
            display: flex;
            flex-direction: column;
            padding: 2rem;
        }

    }

}

#maingallery {
    padding: 0;
}

.galeria .btn {
    --bs-btn-border-width: 0px;
}


/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.9rem 0;
    background-color: #db8585;
    grid-area: footer;

    &__items {
        display: flex;
    }

    & li {
        display: inline-block;
        padding: 0.4rem;
    }

    & a:hover {
        color: #ffd4d4;
    }

    &__navbar {
        text-decoration: none;
        text-transform: uppercase;
        color: #ffe9e9;
        font-size: 1.2rem;
        font-weight: 700;
    }

    &__volver {
        padding: 1rem;
        list-style-type: none;
        text-align: center;
        text-decoration: none;
        color: #ffe9e9;
        font-size: 1.2rem;
        font-weight: 580;
    }

    &__derechos {
        font-size: 0.8rem;
        color: #ffe9e9;
    }

}


.fa-facebook-f {
    font-size: 1.5rem;
    color: #ffe9e9;

    &:hover {
        color: #ffd4d4;
    }
}

.fa-instagram-square {
    font-size: 1.5rem;
    color: #ffe9e9;

    &:hover {
        color: #ffd4d4;
    }

}

.mt-4 {
    margin: 0;
}

@media screen and (max-width: 992px) {
    .galeria {
        &__grilla {
            padding: 2rem 4rem;
        }

        &__sets--info {
            justify-content: center;
            align-items: center;
        }

        &__sets--texto {
            text-align: center;
        }

    }

    .header__menu {
        gap: 1.5rem;
    }

}

@media screen and (max-width: 879px) {
    .header {
        &__menu {
            gap: 1.1rem;
        }

        &__nav a {
            padding: 0rem;
        }
    }
}

@media screen and (max-width: 676px) {
    .footer {
        &__navbar {
            font-size: 1rem;
        }

        &__volver {
            font-size: 0.8rem;
        }
    }

    .header__menu {
        gap: 0.5rem;
    }

}


@media screen and (max-width: 576px) {
    .footer__items {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 0;
    }

    .galeria__grilla {
        &--img:nth-of-type(1) {
            grid-column: 1 / 7;
        }

        &--img:nth-of-type(2) {
            grid-column: 7 / 13;
        }

        &--img:nth-of-type(3) {
            grid-column: 1 / 7;
        }

        &--img:nth-of-type(4) {
            grid-column: 7 / 13;
        }

        &--img:nth-of-type(5) {
            grid-column: 1 / 13;
        }

        &--img:nth-of-type(6) {
            grid-column: 1 / 13;
        }

    }
}