@media screen and (max-width: 992px) {
    .header__menu {
        gap: 1.5rem;
    }

    .galeria {
        &__grilla {
            padding: 2rem 4rem;
        }

        &__sets {
            &--info {
                justify-content: center;
                align-items: center;
            }

            &--texto {
                text-align: center;
            }

            &--subtitulo {
                font-size: 2.5rem;
            }
        }

    }

    .nosotros__historia {
        &--box1 {
            padding: 2rem 6rem;
        }

        &--box2 {
            padding: 2rem 6rem;
        }

        &--box3 {
            padding: 2rem 8rem;
        }


        &--texto1 {
            font-size: 1.6rem;
        }

        &--texto2 {
            font-size: 1.6rem;
        }

        &--texto3 {
            font-size: 1.8rem;
            padding-top: 1.5rem;
        }
    }

}

@media screen and (max-width: 879px) {
    .header {
        &__menu {
            gap: 1.1rem;
        }

        &__nav a {
            padding: 0rem;
        }
    }

    .nosotros {
        &__intro {
            &--img {
                width: 47vw;
                min-width: 350px;
            }

            &--box1,
            &--box2 {
                flex-direction: column;
            }

            &--icons {
                width: 8vw;
            }
        }

        &__historia {
            &--box1 {
                padding: 1rem 4rem;
            }

            &--box2 {
                padding: 1rem 4rem;
            }

            &--box3 {
                padding: 1rem 6rem;
            }

            &--contenedor1 {
                padding-right: 2rem;
            }

            &--contenedor2 {
                padding-left: 2rem;
            }
        }

    }

}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 3rem;
    }

    .galeria {
        &__grilla {
            &--img:nth-of-type(1) {
                grid-column: 1 / 7;
            }

            &--img:nth-of-type(2) {
                grid-column: 7 / 13;
            }

            &--img:nth-of-type(3) {
                grid-column: 1 / 7;
            }

            &--img:nth-of-type(4) {
                grid-column: 7 / 13;
            }

            &--img:nth-of-type(5) {
                grid-column: 1 / 13;
            }

            &--img:nth-of-type(6) {
                grid-column: 1 / 13;
            }
        }

        &__sets--subtitulo{
            font-size: 1.8rem;
        }

    }

}

@media screen and (max-width: 676px) {
    .header__menu {
        gap: 0.5rem;
    }

    .amigurumis__video--iframe {
        padding: 0rem 1.5rem;
    }

    .nosotros__intro {
        flex-direction: column;
    }

    .nosotros {
        &__intro {
            &--img {
                order: 1;
                display: flex;
                width: 70vw;
                padding-bottom: 2rem;
                text-align: center;
            }

            &--box1 {
                flex-direction: column;
                order: 2;
                padding: 2rem;
            }

            &--box2 {
                flex-direction: column;
                order: 2;
            }

            &--icons {
                width: 19vw;
            }
        }

        &__historia {
            &--box1 {
                flex-direction: column-reverse;
                align-items: center;
                padding: 0;
                padding-bottom: 2rem;
            }

            &--box2 {
                flex-direction: column;
                align-items: center;
                padding: 0;
            }

            &--contenedor1 {
                padding: 0rem;
            }

            &--contenedor2 {
                padding: 0rem;
            }

            &--img {
                width: 80%;
                padding: 2rem 0rem;
            }

            &--img3 {
                padding: 1.5rem 0rem;
            }

            &--texto1 {
                text-align: center;
            }

            &--texto2 {
                text-align: center;
                padding: 0rem 0rem 3rem 0rem;
            }

        }

    }

    .footer {
        &__navbar {
            font-size: 1rem;
        }

        &__volver {
            font-size: 0.8rem;
        }
    }

}


@media screen and (max-width: 576px) {

    .contacto {

        &__contenedor {
            flex-direction: column;
        }

        &__imagen {
            padding: 1rem;
        }

    }


    .footer__items {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 0;
    }

}