@mixin flexcenter {
    display: flex;
    justify-content: center;
}

@mixin texto {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    text-align: justify;
}

@mixin footer-color-texto {
    color: #ffe9e9;
}
