.header {
    font-weight: 800;
    @include flexcenter;
    align-items: center;
    padding: 0;
    background-color: #fef0f0;
    grid-area: header;
    
    &__menu {
        display: flex;
        flex-wrap: wrap;
        gap: 2.1rem;
    }

    &__nav--a {
        font-size: 1rem;
        font-weight: 550;
        text-transform: uppercase;
        color: #8c4a4a;

        &:hover {
            color: #562424;
        }
    }

    .navbar {
        &__logo {
            padding-right: 8rem;
        }

        &__color {
            background-color: none;
        }

        &-nav {
            gap: 1rem;
        }

    }

    .nav-item:hover {
        transition: 0.2s;
        border-bottom: $color-secondary solid 4px;
        border-width: auto;
    }
}