.boton {
    padding-top: 3rem;
    text-align: center;
}

.btn {
    background-color: $color-secondary;
    color: $color-primary;
}


.btn:hover,
.btn:focus,
.btn:active,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus {
    background-color: $color-terciary;
    color: $color-secondary;
    box-shadow: none;
}