.contacto {

    &__titulo {
        @include h1()
    }

    &__contenedor {
        display: flex;
        justify-content: space-around;
        padding: 1rem 3rem 3rem 3rem;
    }

    &__checkbox {
        padding-top: 0.7rem;
        padding-left: 0.25rem;
    }

    &__radio {
        @extend .contacto__checkbox;
    }

    &__consultas {
        @extend .contacto__checkbox;
    }

    &__boton {
        @extend .contacto__checkbox;
    }

    &__imagen {
        padding-right: 0.8rem;
    }

}