.home {
     &__main {
        padding: 0;
    }
    
    &__titulo {
        color: $color-texto; 
        font-size: 5.5vw;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.55);
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
    }

    &__fondo {
        background-size: cover;
        position: relative;
        display: inline-block;
        text-align: center;
        min-height: 50vh;

        &--img {
            opacity: 60%;
        }
    }

    &__boton{
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}