.nosotros {
    &__intro {
        @include flexcenter;
        padding: 3rem 2rem;

        &--img {
            width: 33vw;
            min-width: 330px;
            padding: 0rem 4rem;
        }

        &--box1,
        &--box2 {
            @include flexcenter;
            gap: 2rem;
            align-items: center;
        }

        &--box3 {
            @include flexcenter;
            align-items: center;
            align-content: center;
        }

        &--icons {
            width: 6vw;
        }
    }

    &__texto {
        @include texto()
    }

    &__historia {
        &--box1 {
            display: flex;
            padding: 2rem 10rem;
        }

        &--box2 {
            display: flex;
            padding: 2rem 10rem;
        }

        &--box3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem 12rem;
        }

        &--img {
            width: 40%;
        }

        &--img3 {
            width: 90%;
            padding: 3rem 0rem;
        }

        &--img4 {
            width: 45%;
            padding-top: 6rem;
        }


        &--contenedor1 {
            display: flex;
            flex-direction: column;
            width: 60%;
            padding-right: 4rem;
            align-items: center;
            justify-content: center;
        }

        &--contenedor2 {
            display: flex;
            width: 60%;
            padding-left: 4rem;
            align-items: center;
        }

        &--texto1 {
            font-size: 2rem;
            text-align: right;
            padding-bottom: 1rem;
        }

        &--texto2 {
            font-size: 2rem;
            text-align: left;
        }

        &--texto3 {
            font-size: 2.2rem;
            text-align: center;
            padding-top: 3rem;
        }



    }

    &__imagen {
        text-align: center;
        padding: 2rem 1.5rem 3rem 1.5rem;

        &--img {
            width: 65vw;
        }
    }

}